application:
	errorPresenter: Error
	mapping:
		*: App\Presenters\*Module\*Presenter

## Services
services:
	core.grid.factory:
		class: WebChemistry\Grid\IFactory
		factory: WebChemistry\Grid\Factory
	-
		class: Thunbolt\Translation\Translation
		tags: [run]
	## Latte filters
	nette.latteFactory:
		setup:
			- addFilter('date', [WebChemistry\Template\Filters(), 'date'])
			- addFilter(NULL, [WebChemistry\Template\Filters(), 'load'])
			- addFilter('number', [WebChemistry\Template\Filters(), 'number'])
			- 'WebChemistry\Template\Macros::install(?->getCompiler())'(@self)
			- addMacro('cacheFilter', @WebChemistry\Filter\Cache)

extensions:
	assets: WebChemistry\Assets\DI\AssetsExtension
	router: WebChemistry\Routing\DI\RouterExtension
	settings: WebChemistry\Parameters\DI\ParametersExtension
	## Kdyby, Doctrine
	events: Kdyby\Events\DI\EventsExtension
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	## Images
	images: WebChemistry\Images\DI\Extension
	## Forms
	form: WebChemistry\Forms\DI\Extension
	formWizard: WebChemistry\Forms\Controls\DI\WizardExtension
	formDoctrine: WebChemistry\Forms\DI\DoctrineExtension
	## Thunbolt
	shortcuts: Thunbolt\Application\DI\ShortCutsExtension
	templates: Thunbolt\Templates\DI\TemplateExtension
	thunbolt: Thunbolt\DI\ThunboltExtension

settings:
	paramsSettings:
		entity: Entity\Parameters

assets:
	resources:
		- '%appDir%/config/assets.yaml'

images:
	registration:
		upload: no

events:
	debugger: no

annotations:
	ignore:
		- isAllowed

## Doctrine
doctrine:
	defaultRepositoryClassName: Repository\Container
	metadata:
		Entity:
			- %appDir%/modules
			- %appDir%/../ins
	types:
		bit: Doctrine\DBAL\Types\BooleanType
	filters:
		soft-deleteable: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
	dql:
		string:
			MATCH: DoctrineExtensions\Query\Mysql\MatchAgainst
			DATE: WebChemistry\Doctrine\Addons\DateFunction
		numeric:
			RAND: WebChemistry\Doctrine\Addons\Rand
