application:
	errorPresenter: Error
	mapping:
		*: App\Presenters\*Module\*Presenter

tracy:
	errorTemplate: Thunbolt\Errors\ErrorTemplate::getErrorTemplate()

assets:
	resources:
		- '%appDir%/config/assets.yaml'

annotations:
	ignore:
		- isAllowed

## Doctrine
doctrine:
	defaultRepositoryClassName: Repository\Container
	metadata:
		Entity:
			- %appDir%/modules
			- %appDir%/../mod
	types:
		bit: Doctrine\DBAL\Types\BooleanType
	filters:
		soft-deleteable: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
	dql:
		string:
			MATCH: DoctrineExtensions\Query\Mysql\MatchAgainst
			DATE: Thunbolt\Doctrine\Addons\DateFunction
		numeric:
			RAND: Thunbolt\Doctrine\Addons\Rand
