application:
	errorPresenter: Error
	mapping:
		*: App\Presenters\*Module\*Presenter

## Services
services:
	core.grid.factory:
		class: Thunbolt\Grid\IFactory
		factory: Thunbolt\Grid\Factory
	-
		class: Thunbolt\Translation\Translation
		tags: [run]

extensions:
	assets: WebChemistry\Assets\DI\AssetsExtension
	router: WebChemistry\Routing\DI\RouterExtension
	settings: WebChemistry\Parameters\DI\ParametersExtension
	## Kdyby, Doctrine
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	console: Kdyby\Console\DI\ConsoleExtension
	## Images
	images: WebChemistry\Images\DI\Extension
	## Forms
	form: WebChemistry\Forms\DI\FormsExtension
	formWizard: WebChemistry\Forms\Controls\DI\WizardExtension
	formDoctrine: WebChemistry\Forms\DI\DoctrineExtension
	## Thunbolt
	shortcuts: Thunbolt\Application\DI\ShortCutsExtension
	templates: Thunbolt\Templates\DI\TemplateExtension
	widgets: WebChemistry\Widgets\DI\WidgetsExtension

settings:
	paramsSettings:
		entity: Entity\Parameters

assets:
	resources:
		- '%appDir%/config/assets.yaml'

images:
	registration:
		upload: no

annotations:
	ignore:
		- isAllowed

## Doctrine
doctrine:
	defaultRepositoryClassName: Repository\Container
	metadata:
		Entity:
			- %appDir%/modules
			- %appDir%/../mod
	types:
		bit: Doctrine\DBAL\Types\BooleanType
	filters:
		soft-deleteable: Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
	dql:
		string:
			MATCH: DoctrineExtensions\Query\Mysql\MatchAgainst
			DATE: WebChemistry\Doctrine\Addons\DateFunction
		numeric:
			RAND: WebChemistry\Doctrine\Addons\Rand
