extensions:
	assets: WebChemistry\Assets\DI\AssetsExtension
	router: WebChemistry\Routing\DI\RouterExtension
	## Kdyby, Doctrine
	annotations: Kdyby\Annotations\DI\AnnotationsExtension
	doctrine: Kdyby\Doctrine\DI\OrmExtension
	console: Kdyby\Console\DI\ConsoleExtension
	## Forms
	form: WebChemistry\Forms\DI\FormsExtension
	## Thunbolt
	templates: Thunbolt\Templates\DI\TemplateExtension

softExtensions:
	## WebChemistry
	settings: WebChemistry\Parameters\DI\ParametersExtension
	images: WebChemistry\Images\DI\ImagesExtension
	formWizard: WebChemistry\Forms\Controls\DI\WizardExtension
	formDoctrine: WebChemistry\Forms\DI\DoctrineExtension
	widgets: WebChemistry\Widgets\DI\WidgetsExtension
	## Thunbolt
	shortcuts: Thunbolt\Application\DI\ShortCutsExtension
	commands: Thunbolt\Commands\DI\CommandsExtension
